
body{
    background-color: white;
}

h1{
    font-size: large;
}

h1, p{
    text-align: center;
    font: 1em sans-serif;
    color: black;
}


h2{
    text-align: center;
    border: 2cm;
    font: sans-serif;
}

h2 .chicken{
    color: black;
    background-color: pink;
}

h2 .beef{
    color: white;
    background-color: red;
}

h2 .sushi{
    color: black;
    background-color: yellow;
}

section{
background-color: grey;
border: 1cm;
}