
*{
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white; 
    margin-left: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: black;
    text-align: center;
}

h1{
    font-size: 3em;
    margin: 12px;
}

section{
    background-color: lightgrey;
    border: 1.7px solid black;
    width: 30%;
    height: 200px;
    margin: 14px;
    float: left;
}

h2 {
    border: 1.5px solid black;
    margin: 0% 0% 10px 70%;
    width: 30%;
    padding: 8px 5px 8px 5px;
}

p {
    font-size: 1em;
    text-align: left;
    padding: 14px;
}

.chicken{
    background-color: pink;
}

.beef{
    background-color: red;
}

.sushi{
    background-color: yellow;
}




